<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="timeInterval" value="900000"/>
    <add key="emailId" value="dummy@nu.edu.pk"/>
    <add key="password" value="***"/>
    <add key="UserChartPath" value="E:\Patient\summaryXML\"/>
  </appSettings>
</configuration>