<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="consolidatedpath" value="E:\Patient\ConsolidatedJsons\"/>
    <add key ="UserSummaryXML" value="E:\Patient\summaryXML\"/>
    <add key ="timeIntervak" value="900000"/>

  </appSettings>
</configuration>